#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.question__answer--container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.question__answer--button {
  border: 1px solid salmon;
}